@font-face {
  font-family: "Minecraftia";
  src: url("../font/minecraft-webfont.woff2") format("woff2"),
    url("../font/minecraft-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Minecraftia", Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-size: 1.2em;
}
* {
  box-sizing: border-box;
}
/*navbar*/
nav {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 3em;
}
.nav-link {
  text-decoration: none;
  color: rgb(39, 39, 39);
}
#menuToggle {
  display: none;
}
ul.nav-list {
  padding-top: 0.5em;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0px;
  font-size: 1.2rem;
}
.nav-list li {
  list-style: none;
  display: inline;
  margin-right: 1.5em;
}
.nav-list li .nav-link {
  padding: 0.7rem;
  position: relative;
}
.nav-link:hover,
.nav-link:focus {
  color: black;
}
.nav-list li .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in;
}
.nav-list li .nav-link:hover::after,
.nav-list li .nav-link:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}
/*vertical nav*/
.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  float: right;
  margin: 0.5em;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: black;
}
/*main*/
#start-page {
  display: flex;
  height: auto;
  max-height: fit-content;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 8rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#start-page::after {
  content: "";
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: url("../img/main-tlo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.description {
  text-shadow: 0px 0px 4px rgb(255, 255, 255, 0.4);
  min-width: 25ch;
  max-width: 45ch;
  padding: 1.4rem;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: min(50ch, 50%);
}
.description * {
  flex-grow: 1;
}
.description h2 {
  width: 100%;
  margin-bottom: 0;
  text-align: left;
  text-transform: uppercase;
}
.btn-download {
  background-color: hsl(0, 0%, 45%);
  padding: 1em;
  text-decoration: none;
  margin-top: 10px;
  outline: solid 2px black;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #fff7;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #000a;
  position: relative;
}
.btn-download:hover,
.btn-download:focus {
  background-color: rgba(100, 100, 255, 0.45);
  text-shadow: 2px 2px #202013cc;
  color: #ffffa0;
}
.img-desc {
  height: 70%;
  min-width: 100px;
  max-width: 100%;
  padding-right: 1em;
  margin: auto;
  display: grid;
  place-items: center;
}

.img-desc img {
  box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.3);
  height: 100%;
}
#functions {
  background-color: rgb(255, 255, 255);
  padding-top: 3em;
  color: rgb(22, 22, 22);
}
.container {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
}
.item {
  padding: 1rem;
  max-width: 35ch;
  margin: auto;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
}
.item h3 {
  text-transform: capitalize;
  font-weight: 700;
}
.item p {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

/* about us */
#about-main {
  background-color: hsl(0, 0%, 90%);
  height: fit-content;
  width: 100%;
  padding: 2em 0;
  display: grid;
  place-items: center;
}
.about-us-card {
  height: min(90%, fit-content);
  width: 90%;
  max-width: 80ch;
  padding: 3em 3em;
  margin-bottom: 1em;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  background-color: hsl(0, 0%, 100%);
  color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.about-us-card h1 {
  margin: 0px;
  text-align: center;
}
.about-us-card p:nth-child(3) {
  color: rgb(51, 51, 51);
  text-align: center;
  margin-top: 0;
}
.developer-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.opis {
  display: flex;
  padding-left: 1em;
  flex-direction: column;
  justify-content: center;
}
.opis p {
  margin-top: 0;
}
.opis a {
  margin-top: 0;
  text-decoration: none;
  color: currentColor;
}
.opis a:hover {
  filter: brightness(10);
  transition: filter 300ms ease-in-out;
}
.opis h2 {
  margin-bottom: 0.125em;
}
.profile {
  border-radius: 50%;
  height: 7em;
  width: 7em;
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .navbar-toggle {
    display: flex;
  }
  nav {
    display: flow-root;
    height: fit-content;
    padding-top: 0.5em;
  }
  .nav-list li {
    display: none;
  }
  .nav-list li:first-child {
    display: block;
    margin-right: 0;
    flex-grow: 1;
  }
  #menuToggle:checked ~ ul {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
  #menuToggle:checked ~ ul li {
    display: block;
    padding: 1em;
    height: 3em;
    width: 100%;
    background-color: white;
  }
  #menuToggle:checked ~ ul li a {
    padding: 0.5em 2em;
  }
}
@media screen and (max-width: 540px) {
  .img-desc {
    padding-right: 0;
  }
  #about-main {
    padding-left: 0em;
  }
  .about-us {
    padding: 0em 2em;
  }
}
