body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  position: relative;
}
* {
  box-sizing: border-box;
}
nav {
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
}
ul.nav-horizontal {
  font-size: 1.2rem;
}
.nav-horizontal li {
  list-style: none;
  display: inline;
  margin-right: 1.5em;
}
.nav-link {
  color: rgb(22, 22, 22);
  text-decoration: none;
  padding: 0.7rem;
  position: relative;
}
.nav-link:hover {
  color: black;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.img-home a {
  pointer-events: none;
  padding: 1.6rem;
  background: url(img/kilof.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#start-page {
  display: flex;
  height: auto;
  max-height: fit-content;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 8rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#start-page::after {
  content: "";
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: url(img/main-tlo.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.description {
  text-shadow: 0px 0px 4px rgb(255, 255, 255, 0.4);
  min-width: 20ch;
  padding: 1.4rem;
  flex-shrink: 1;
  flex-basis: min(50ch, 50%);
}
.description h2 {
  text-transform: uppercase;
}
.img-desc {
  height: 70%;
  min-width: 100px;
  max-width: 100%;
  padding-right: 1em;
  display: grid;
  place-items: center;
  flex-grow: 1;
}
.img-desc img {
  box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.3);
  height: 100%;
}
#functions {
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.item {
  padding: 1rem;
  max-width: 35ch;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
.item p {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}
